In [1]:
import pandas as pd
df = pd.read_csv('ml-bugs.csv')

In [50]:
import numpy as np
import math

def probability(name, items):
    result = 0
    names = np.unique(items)
    all_count = np.count_nonzero(items)
    item_count = np.count_nonzero(items[items == name])
    return item_count / all_count

def entropy(items):
    result = 0
    names = np.unique(items)
    all_count = np.count_nonzero(items)
 
    for name in names:
        p = probability(name, items)
        result -= math.log2(p) * p
        
    return result

def two_group_ent(first, tot):                        
    return -(first/tot*np.log2(first/tot) +           
             (tot-first)/tot*np.log2((tot-first)/tot))

In [51]:
entropy(df[df['Length (mm)'] < 17]['Species'])

0.9182958340544896

In [10]:

tot_ent = two_group_ent(10, 24)                       
g17_ent = 15/24 * two_group_ent(11,15) \
+ 9/24 * two_group_ent(6,9)                  

answer = tot_ent - g17_ent

In [13]:
df.head()

  Species  Color  Length (mm)
0   Mobug  Brown         11.6
1   Mobug   Blue         16.3
2   Lobug   Blue         15.1
3   Lobug  Green         23.7
4   Lobug   Blue         18.4

In [40]:
g17_arr = df.where(df['Length (mm)'] < 17).dropna()['Species'].values
np.count_nonzero(g17_arr[g17_arr == 'Lobug'])

3

In [41]:
two_group_ent(6,9)

0.9182958340544896